In [56]:
import pandas as pd
import numpy as np

from ydata_profiling import ProfileReport

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

data = pd.read_csv("csgo.csv")
data

# print(data.info())
# profile = ProfileReport(data, title="Diabetes Report", explorative=True)
# profile.to_file("report.html")

,map,day,month,year,date,wait_time_s,match_time_s,team_a_rounds,team_b_rounds,ping,kills,assists,deaths,mvps,hs_percent,points,result
0,Mirage,3,8,2018,03/08/2018,327,2906,16,13,215,17,2,21,2,5,45,Win
1,Mirage,2,8,2018,02/08/2018,336,2592,16,11,199,13,4,24,2,0,40,Lost
2,Mirage,31,7,2018,31/07/2018,414,2731,16,14,85,15,3,18,3,26,37,Win
3,Mirage,31,7,2018,31/07/2018,317,2379,11,16,93,12,2,15,2,16,30,Lost
4,Mirage,30,7,2018,30/07/2018,340,3467,15,15,94,33,5,20,5,30,83,Tie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,Dust II,23,7,2015,23/07/2015,2,1573,16,4,46,12,2,20,0,16,26,Lost
1129,Dust II,23,7,2015,23/07/2015,29,2126,16,8,41,19,6,21,2,31,51,Lost
1130,Dust II,23,7,2015,23/07/2015,10,2555,11,16,17,9,3,20,2,55,30,Lost
1131,Dust II,23,7,2015,23/07/2015,9,2293,8,16,20,11,4,20,1,27,31,Lost
1132,Dust II,23,7,2015,23/07/2015,3,1858,7,16,16,6,3,15,1,16,23,Win

In [57]:
# 1) Drop team_a_rounds, team_b_rounds columns
data = data.drop(columns=['team_a_rounds', 'team_b_rounds'])

# 2) Convert date column into timestamp
data['date'] = pd.to_datetime(data['date'], format='%d/%m/%Y').astype(np.int64) // 10 ** 9
data

,map,day,month,year,date,wait_time_s,match_time_s,ping,kills,assists,deaths,mvps,hs_percent,points,result
0,Mirage,3,8,2018,1533254400,327,2906,215,17,2,21,2,5,45,Win
1,Mirage,2,8,2018,1533168000,336,2592,199,13,4,24,2,0,40,Lost
2,Mirage,31,7,2018,1532995200,414,2731,85,15,3,18,3,26,37,Win
3,Mirage,31,7,2018,1532995200,317,2379,93,12,2,15,2,16,30,Lost
4,Mirage,30,7,2018,1532908800,340,3467,94,33,5,20,5,30,83,Tie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,Dust II,23,7,2015,1437609600,2,1573,46,12,2,20,0,16,26,Lost
1129,Dust II,23,7,2015,1437609600,29,2126,41,19,6,21,2,31,51,Lost
1130,Dust II,23,7,2015,1437609600,10,2555,17,9,3,20,2,55,30,Lost
1131,Dust II,23,7,2015,1437609600,9,2293,20,11,4,20,1,27,31,Lost
1132,Dust II,23,7,2015,1437609600,3,1858,16,6,3,15,1,16,23,Win

In [58]:
# 3) Separate features and target columns
target = 'points'
x = data.drop(labels=target, axis=1)
y = data[target]

# 4) Split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
# print(x_train.shape, x_test.shape)

print(x_train.shape, x_test.shape)

(906, 14) (227, 14)

In [59]:
# 5) Data preprocessing
pre_processor = ColumnTransformer(transformers=[
    ('num_features', StandardScaler(), ['date', 'wait_time_s', 'match_time_s', 'ping', 'kills', 'assists', 'deaths', 'mvps', 'hs_percent']),
    ('nom_features', OneHotEncoder(handle_unknown='ignore'), ['map', 'result']),
    ('ord_features', OrdinalEncoder(), ['day', 'month', 'year'])
])

# 6) Initialize model
model = Pipeline(steps=[
    ('pre_processor', pre_processor),
    ('classifier', RandomForestRegressor(random_state=100))
])

In [60]:
print(x_train['map'].unique())
print(x_test['map'].unique())

['Cache' 'Dust II' 'Inferno' 'Mirage' 'Overpass' 'Cobblestone' 'Austria'
 'Canals' 'Italy' 'Nuke']
['Inferno' 'Dust II' 'Cache' 'Mirage' 'Nuke' 'Overpass' 'Cobblestone']

In [61]:
# 7) Train model
# model.fit(x_train, y_train)

param_grid = {
    "classifier__n_estimators": [50, 100, 200],
    "classifier__criterion": ["squared_error", "absolute_error", "friedman_mse"],
    "classifier__max_depth": [None, 2, 5],
}
model_gr = GridSearchCV(estimator=model, param_grid=param_grid, scoring="r2", cv=6, verbose=2, n_jobs=-1)
model_gr.fit(x_train, y_train)

print("Best score: {}".format(model_gr.best_score_))
print("Best params: {}".format(model_gr.best_params_))

# 8) Test model
# y_predict = model.predict(x_test)

y_predict = model_gr.predict(x_test)
for i, j in zip(y_predict, y_test):
    print('Predicted value: {}. Actual value: {}'.format(i, j))

print("MAE: {}".format(mean_absolute_error(y_test, y_predict)))
print("MSE: {}".format(mean_squared_error(y_test, y_predict))) # dùng trong lúc train
print("R2: {}".format(r2_score(y_test, y_predict))) #là metric phổ biến nhất của regression, ko dùng trong lúc train

Fitting 6 folds for each of 27 candidates, totalling 162 fits
Best score: 0.9363901858910163
Best params: {'classifier__criterion': 'absolute_error', 'classifier__max_depth': None, 'classifier__n_estimators': 200}
Predicted value: 41.365. Actual value: 35
Predicted value: 37.3425. Actual value: 32
Predicted value: 41.85. Actual value: 40
Predicted value: 50.82. Actual value: 52
Predicted value: 39.18. Actual value: 37
Predicted value: 38.595. Actual value: 37
Predicted value: 38.385. Actual value: 32
Predicted value: 52.43. Actual value: 48
Predicted value: 43.915. Actual value: 47
Predicted value: 50.0575. Actual value: 49
Predicted value: 37.21. Actual value: 32
Predicted value: 50.35. Actual value: 42
Predicted value: 49.525. Actual value: 48
Predicted value: 53.905. Actual value: 48
Predicted value: 33.4. Actual value: 33
Predicted value: 32.825. Actual value: 32
Predicted value: 43.225. Actual value: 41
Predicted value: 27.875. Actual value: 28
Predicted value: 61.145. Actual value: 63
Predicted value: 58.105. Actual value: 51
Predicted value: 27.275. Actual value: 30
Predicted value: 15.075. Actual value: 13
Predicted value: 41.64. Actual value: 41
Predicted value: 66.06. Actual value: 63
Predicted value: 56.195. Actual value: 55
Predicted value: 28.785. Actual value: 26
Predicted value: 59.605. Actual value: 67
Predicted value: 56.46. Actual value: 58
Predicted value: 50.44. Actual value: 55
Predicted value: 56.37. Actual value: 54
Predicted value: 51.46. Actual value: 62
Predicted value: 46.3375. Actual value: 48
Predicted value: 42.985. Actual value: 43
Predicted value: 34.74. Actual value: 31
Predicted value: 29.7275. Actual value: 26
Predicted value: 58.01. Actual value: 47
Predicted value: 50.84. Actual value: 59
Predicted value: 24.33. Actual value: 19
Predicted value: 24.01. Actual value: 20
Predicted value: 16.335. Actual value: 13
Predicted value: 54.32. Actual value: 51
Predicted value: 43.485. Actual value: 38
Predicted value: 32.92. Actual value: 35
Predicted value: 47.16. Actual value: 50
Predicted value: 41.8. Actual value: 43
Predicted value: 43.83. Actual value: 42
Predicted value: 81.15. Actual value: 89
Predicted value: 37.085. Actual value: 44
Predicted value: 44.11. Actual value: 46
Predicted value: 46.0. Actual value: 43
Predicted value: 27.8. Actual value: 33
Predicted value: 18.03. Actual value: 16
Predicted value: 29.61. Actual value: 35
Predicted value: 60.86. Actual value: 73
Predicted value: 40.415. Actual value: 45
Predicted value: 58.695. Actual value: 53
Predicted value: 45.1075. Actual value: 51
Predicted value: 29.915. Actual value: 26
Predicted value: 50.66. Actual value: 56
Predicted value: 50.585. Actual value: 56
Predicted value: 40.3. Actual value: 42
Predicted value: 54.65. Actual value: 53
Predicted value: 37.45. Actual value: 36
Predicted value: 35.965. Actual value: 35
Predicted value: 43.39. Actual value: 42
Predicted value: 67.895. Actual value: 80
Predicted value: 2.665. Actual value: 2
Predicted value: 20.67. Actual value: 25
Predicted value: 61.615. Actual value: 56
Predicted value: 23.905. Actual value: 25
Predicted value: 33.98. Actual value: 37
Predicted value: 21.455. Actual value: 23
Predicted value: 36.3025. Actual value: 35
Predicted value: 46.315. Actual value: 47
Predicted value: 13.565. Actual value: 10
Predicted value: 37.48. Actual value: 39
Predicted value: 49.695. Actual value: 52
Predicted value: 39.04. Actual value: 40
Predicted value: 25.5325. Actual value: 25
Predicted value: 56.52. Actual value: 52
Predicted value: 46.42. Actual value: 44
Predicted value: 42.085. Actual value: 41
Predicted value: 40.64. Actual value: 41
Predicted value: 25.305. Actual value: 25
Predicted value: 47.23. Actual value: 51
Predicted value: 60.335. Actual value: 61
Predicted value: 28.41. Actual value: 27
Predicted value: 56.145. Actual value: 60
Predicted value: 34.315. Actual value: 29
Predicted value: 39.48. Actual value: 37
Predicted value: 23.925. Actual value: 20
Predicted value: 23.67. Actual value: 28
Predicted value: 35.045. Actual value: 35
Predicted value: 67.96. Actual value: 65
Predicted value: 47.94. Actual value: 44
Predicted value: 41.685. Actual value: 42
Predicted value: 48.06. Actual value: 45
Predicted value: 60.955. Actual value: 58
Predicted value: 45.265. Actual value: 47
Predicted value: 43.585. Actual value: 44
Predicted value: 17.54. Actual value: 14
Predicted value: 43.28. Actual value: 44
Predicted value: 35.305. Actual value: 35
Predicted value: 8.54. Actual value: 5
Predicted value: 13.5. Actual value: 10
Predicted value: 58.18. Actual value: 57
Predicted value: 27.055. Actual value: 23
Predicted value: 57.035. Actual value: 60
Predicted value: 28.81. Actual value: 34
Predicted value: 47.6325. Actual value: 45
Predicted value: 54.155. Actual value: 58
Predicted value: 42.9975. Actual value: 41
Predicted value: 31.05. Actual value: 36
Predicted value: 20.7325. Actual value: 24
Predicted value: 54.435. Actual value: 54
Predicted value: 38.205. Actual value: 40
Predicted value: 27.09. Actual value: 26
Predicted value: 39.19. Actual value: 46
Predicted value: 46.7125. Actual value: 41
Predicted value: 50.77. Actual value: 46
Predicted value: 24.355. Actual value: 22
Predicted value: 38.765. Actual value: 39
Predicted value: 25.765. Actual value: 33
Predicted value: 75.215. Actual value: 71
Predicted value: 58.23. Actual value: 64
Predicted value: 41.74. Actual value: 46
Predicted value: 41.5. Actual value: 34
Predicted value: 59.825. Actual value: 64
Predicted value: 24.51. Actual value: 31
Predicted value: 33.32. Actual value: 34
Predicted value: 46.6775. Actual value: 53
Predicted value: 50.37. Actual value: 49
Predicted value: 25.775. Actual value: 22
Predicted value: 27.135. Actual value: 29
Predicted value: 44.135. Actual value: 50
Predicted value: 42.085. Actual value: 46
Predicted value: 43.535. Actual value: 42
Predicted value: 40.525. Actual value: 38
Predicted value: 40.93. Actual value: 46
Predicted value: 51.46. Actual value: 47
Predicted value: 46.8075. Actual value: 48
Predicted value: 35.385. Actual value: 43
Predicted value: 43.75. Actual value: 48
Predicted value: 45.665. Actual value: 41
Predicted value: 21.04. Actual value: 22
Predicted value: 32.235. Actual value: 36
Predicted value: 41.64. Actual value: 37
Predicted value: 48.235. Actual value: 46
Predicted value: 32.81. Actual value: 36
Predicted value: 40.515. Actual value: 45
Predicted value: 12.055. Actual value: 9
Predicted value: 26.85. Actual value: 23
Predicted value: 31.31. Actual value: 30
Predicted value: 56.97. Actual value: 51
Predicted value: 43.005. Actual value: 41
Predicted value: 37.945. Actual value: 39
Predicted value: 20.365. Actual value: 20
Predicted value: 35.32. Actual value: 40
Predicted value: 29.965. Actual value: 33
Predicted value: 55.915. Actual value: 61
Predicted value: 48.58. Actual value: 47
Predicted value: 48.02. Actual value: 48
Predicted value: 46.6975. Actual value: 47
Predicted value: 48.39. Actual value: 54
Predicted value: 42.9575. Actual value: 43
Predicted value: 37.46. Actual value: 39
Predicted value: 33.125. Actual value: 32
Predicted value: 46.205. Actual value: 50
Predicted value: 56.875. Actual value: 50
Predicted value: 33.29. Actual value: 32
Predicted value: 59.625. Actual value: 62
Predicted value: 44.21. Actual value: 40
Predicted value: 60.675. Actual value: 63
Predicted value: 80.575. Actual value: 89
Predicted value: 13.605. Actual value: 19
Predicted value: 32.425. Actual value: 30
Predicted value: 20.51. Actual value: 30
Predicted value: 36.025. Actual value: 44
Predicted value: 48.7925. Actual value: 53
Predicted value: 39.97. Actual value: 39
Predicted value: 58.68. Actual value: 54
Predicted value: 32.71. Actual value: 28
Predicted value: 38.515. Actual value: 36
Predicted value: 47.66. Actual value: 51
Predicted value: 18.5275. Actual value: 21
Predicted value: 32.3575. Actual value: 33
Predicted value: 20.8975. Actual value: 27
Predicted value: 28.715. Actual value: 33
Predicted value: 21.155. Actual value: 19
Predicted value: 51.52. Actual value: 52
Predicted value: 24.63. Actual value: 21
Predicted value: 31.04. Actual value: 30
Predicted value: 36.0625. Actual value: 41
Predicted value: 36.89. Actual value: 38
Predicted value: 49.9325. Actual value: 53
Predicted value: 35.32. Actual value: 36
Predicted value: 28.945. Actual value: 28
Predicted value: 43.855. Actual value: 41
Predicted value: 35.155. Actual value: 31
Predicted value: 29.005. Actual value: 34
Predicted value: 33.675. Actual value: 34
Predicted value: 42.77. Actual value: 48
Predicted value: 30.81. Actual value: 40
Predicted value: 26.445. Actual value: 28
Predicted value: 62.22. Actual value: 70
Predicted value: 46.18. Actual value: 42
Predicted value: 30.6475. Actual value: 29
Predicted value: 32.46. Actual value: 29
Predicted value: 47.22. Actual value: 39
Predicted value: 63.4. Actual value: 69
Predicted value: 55.975. Actual value: 53
Predicted value: 17.8275. Actual value: 17
Predicted value: 49.665. Actual value: 58
Predicted value: 48.54. Actual value: 47
Predicted value: 28.8. Actual value: 29
Predicted value: 57.995. Actual value: 57
Predicted value: 31.41. Actual value: 34
Predicted value: 70.17. Actual value: 62
Predicted value: 35.34. Actual value: 34
Predicted value: 35.76. Actual value: 42
Predicted value: 20.835. Actual value: 23
Predicted value: 34.21. Actual value: 37
Predicted value: 32.08. Actual value: 33
Predicted value: 33.225. Actual value: 32
Predicted value: 28.57. Actual value: 26
Predicted value: 59.78. Actual value: 59
Predicted value: 26.99. Actual value: 29
MAE: 3.3749229074889873
MSE: 17.352954267621147
R2: 0.9149248606527458