In [60]:
# Task 1: Thống kê số lượng khách hàng theo học vấn (High school, master,...)
import pandas as pd

df = pd.read_csv("Week4_1_data.csv")
edu_counts = df['educational_level'].value_counts()
print(edu_counts)

educational_level
Graduation     257
PhD            114
Master          81
High School     40
Basic            7
Name: count, dtype: int64

In [61]:
# Task 2: In ra 20 khách hàng có thu nhập cá nhân (annual_income) cao nhất

df['annual_income'] = pd.to_numeric(df['annual_income'])
# top_20_annual_income = df.sort_values(by='annual_income', ascending=False).head(20)
top_20_annual_income = df.nlargest(n=20, columns='annual_income')
print(top_20_annual_income[['customer_id', 'annual_income', 'educational_level']])

     customer_id  annual_income educational_level
164     20201865       157243.0               PhD
252     20201953       102692.0        Graduation
203     20201904       102160.0               PhD
124     20201825       101970.0        Graduation
424     20202125        93027.0               PhD
426     20202127        92910.0        Graduation
140     20201841        92859.0            Master
418     20202119        91065.0        Graduation
116     20201817        90765.0        Graduation
456     20202157        89572.0       High School
109     20201810        89058.0            Master
67      20201768        88194.0       High School
120     20201821        88193.0            Master
198     20201899        86718.0        Graduation
407     20202108        86164.0               PhD
142     20201843        86111.0        Graduation
113     20201814        86037.0        Graduation
102     20201803        85693.0        Graduation
356     20202057        85503.0        Graduation
195     20201896        85317.0        Graduation

In [62]:
# Task 3: In ra những khách hàng sinh sau năm 1960 và thu nhập cá nhân trên $50,000/năm
filtered_df = df[(df['year_of_birth'] > 1960) & (df['annual_income'] > 50000)]
print(filtered_df[['customer_id', 'year_of_birth', 'annual_income']])

     customer_id  year_of_birth  annual_income
0       20201701           1982        58138.0
2       20201703           1965        71613.0
4       20201705           1981        58293.0
5       20201706           1967        62000.0
6       20201707           1971        55635.0
..           ...            ...            ...
486     20202187           1976        56290.0
487     20202188           1974        60093.0
493     20202194           1964        58308.0
495     20202196           1962        59432.0
496     20202197           1978        55563.0

[206 rows x 3 columns]

In [63]:
# Task 4: Kết hợp điều kiện của Task 2 & 3
top_20_customers = filtered_df.nlargest(n=20, columns='annual_income')
print(top_20_customers[['customer_id', 'year_of_birth', 'annual_income']])

     customer_id  year_of_birth  annual_income
252     20201953           1997       102692.0
203     20201904           1989       102160.0
424     20202125           1967        93027.0
140     20201841           1987        92859.0
418     20202119           2000        91065.0
116     20201817           2000        90765.0
109     20201810           1993        89058.0
67      20201768           1984        88194.0
198     20201899           1984        86718.0
407     20202108           1989        86164.0
142     20201843           1989        86111.0
113     20201814           1997        86037.0
102     20201803           1986        85693.0
195     20201896           1981        85317.0
430     20202131           1975        84865.0
347     20202048           1970        84835.0
29      20201730           1965        84618.0
176     20201877           1991        83837.0
217     20201918           1985        83790.0
389     20202090           1980        83664.0

In [64]:
# Task 5: In ra những khách hàng có tình trạng hôn nhân là đã kết hôn or đã ly hôn
filtered_df = df[df['marital_status'].isin(['Married', 'Divorced'])]
print(filtered_df[['customer_id', 'marital_status', 'recency', 'online_purchases', 'store_purchases']])

     customer_id marital_status  recency  online_purchases  store_purchases
1       20201702        Married       38                 1                2
2       20201703       Divorced       26                 8               10
6       20201707       Divorced       34                 7                7
7       20201708        Married       32                 4                4
12      20201713       Divorced       82                 3                8
..           ...            ...      ...               ...              ...
488     20202189        Married       24                 1                3
491     20202192       Divorced       99                 6                5
494     20202195       Divorced       85                 9                6
495     20202196       Divorced       88                 5               11
496     20202197       Divorced       22                 2                3

[212 rows x 5 columns]

In [65]:
# Task 6: Tính mức thu nhập trung bình theo trình độ học vấn
avg_annual_income_by_edu = df.groupby('educational_level')['annual_income'].mean()
print(avg_annual_income_by_edu)

educational_level
Basic          19514.571429
Graduation     51607.827309
High School    44154.717949
Master         51191.700000
PhD            55878.990991
Name: annual_income, dtype: float64

In [66]:
# Task 7: Tính mức thu nhập trung bình theo trình độ học vấn + tình trạng hôn nhân
avg_annual_income_by_edu_mar = df.groupby(['educational_level', 'marital_status'])['annual_income'].mean()
print(avg_annual_income_by_edu_mar)

educational_level  marital_status
Basic              Divorced          20797.000000
                   Relationship      16443.000000
                   Single            24882.000000
Graduation         Divorced          52448.104167
                   Married           49598.723077
                   Relationship      53291.142857
                   Single            51719.431034
                   Widow             48097.500000
                   Widowed           52221.600000
High School        Divorced          49483.333333
                   Married           38747.533333
                   Relationship      51574.692308
                   Single            48451.800000
                   Widow             28457.000000
                   Widowed           25592.000000
Master             Divorced          46979.583333
                   Married           52810.526316
                   Relationship      46005.789474
                   Single            56847.142857
                   Widow             51529.000000
                   Widowed           51094.000000
PhD                Divorced          56304.894737
                   Married           53079.695652
                   Relationship      58019.666667
                   Single            54087.631579
                   Widow             50520.000000
                   Widowed           57535.105263
Name: annual_income, dtype: float64

Task 8: Đưa ra các kết luận, đánh giá về các phân khúc khách hàng dựa vào kết quả của Task 1-7

1) Trình độ học vấn và tình trạng hôn nhân là hai yếu tố quan trọng ảnh hưởng đến mức thu nhập và hành vi mua sắm của khách hàng

2) Khách hàng có trình độ học vấn cao có mức thu nhập cao và có thể là nhóm khách hàng tiềm năng cho các sản phẩm và dịch vụ cao cấp.

3) Khách hàng đã kết hôn hoặc đã ly hôn có nhu cầu mua sắm khác nhau và cần được tiếp cận bằng các chiến lược marketing phù hợp